{% extends "base.html" %}
{% block content %}
<div style="min-height: 100px;"></div>
<div class="row">
    <div class="col-md-8 offset-md-2" style="min-height: 300px; background-color:rgb(174, 235, 255); padding: 20px;">
        <main>
            <h1 class="cover-heading">Welcome</h1>
        <p class="lead">T-map is a mashup service and and API at the same time.
            Write in the name of a place for which you want to discover current Twitter trends.</p>
        <p class="lead">
            Don't worry, look at the whole globe, we'll translate for you!
        </p>
        <div class="d-flex justify-content-center">
        <a class="btn btn-light" href="/places" role="button">Explore T-map</a>
    </div>
        </main>
    </div>
  </div>

{%endblock%}