{% extends "base.html" %} {% block header %}
<script>
    //Map features setup
    function initMap() {
        var data = {
            lat: null,
            lng: null
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 47.54,
                lng: 19.19
            },
            zoom: 3,
            styles: [{
                // Turn off POI (point of interest).
                featureType: 'poi',
                stylers: [{
                        visibility: 'off'
                    }]
            }, {
                // Turn off bus, train stations etc.
                featureType: 'transit.station',
                stylers: [{
                        visibility: 'off'
                    }]
            }],
            disableDoubleClickZoom: true,
            streetViewControl: false,
        });
        const geocoder = new google.maps.Geocoder();
        const infowindow = new google.maps.InfoWindow();
        map.addListener('click', function(e) {
            data.lat = e.latLng.lat();
            data.lng = e.latLng.lng();
            geocodeLatLng(geocoder, map, infowindow, data.lat, data.lng)
        });
    }

    //displays marker and address on click
    function geocodeLatLng(geocoder, map, infowindow, lat, long) {
        const latlng = {
            lat: parseFloat(lat),
            lng: parseFloat(long),
        };

        geocoder
            .geocode({
                location: latlng
            })
            .then((response) => {
                if (response.results[0]) {
                    map.setZoom(3);
                    const marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                    });

                    infowindow.setContent(response.results[4].formatted_address);
                    infowindow.open(map, marker);

                    var address = response.results[4].formatted_address;
                    var newAdd = address.split(", ");
                    var newAddress = newAdd[newAdd.length - 1];

                    readAPI(newAddress)

                } else {
                    window.alert("No results found");
                }
            })
            .catch((e) => {
                    $("#tweet").empty();
                    $("#translated-text > p").empty();
                    $("#tweet").append("<h3> We could not find the country you were looking for, try again. </h3>");
            
    });
}

    //Asks the API to get the tweet for the relative country
    function readAPI(newAddress) {
        $.ajax({
            method: "GET",
            url: 'http://127.0.0.1:5000/tweet/' + newAddress,
            headers: {
                "Accept": "application/json"
            },
            statusCode: {
                500: function() {
                    $("#tweet").empty();
                    $("#translated-text > p").empty();
                    $("#tweet").append(`
                    <h3 id="tweet-to-translate">No trending tweets available at this location</h3>`)
                }
            }
        }).done(function(result) {
            
            result = JSON.parse(result)
            $("#tweet").empty();
            if(result == undefined || result.length == 0){
                $("#tweet").append(`
                    <h3 id="tweet-to-translate">No trending tweets available at this location</h3>`)
            
            }
            else{
                $("#translated-text > p").empty();
                $("#tweet").append(`
                <h3 class="text-center">The trend</h3>
                <p class="text-trending-topic"><strong>The trending topic: </strong></p> <p id="trending-topic">${result[0].topic}</p>
                <p class="text-trending-text"><strong>The tweet: </strong></p>
                <p id="tweet-to-translate">${result[0].text}</p>
                <a class="btn btn-info" href="${result[0].url}">Read the tweet here!</a>
                <button class="btn btn-success" id="translate" type="button" onclick="doTranslate()">Translate to English</button>
            `)
            }
            
        });
    }

    //Asks the API to translate the text
    function translateTweet(text) {
        var data = {
            tweetText: text
        };
        
        $.ajax({
            method: "POST",
            url: 'http://127.0.0.1:5000/translate/',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            headers: {
                "Accept": "application/json"
            }
        }).done(function(result) {
            if (result == " " && result == null) {
                $("#translated-text > p").empty();
                $("#translated-text").append(`
                <p>Sorry there was nothing to translate</p>
                `);
            } else {
                $("#translated-text > p").empty();
                $("#translated-text").append(`
                <p>${result}</p>
                `);
            }


        });
    }
    //sends tweet to translator
    function doTranslate() {
        var text = document.getElementById("tweet-to-translate").innerHTML;
        translateTweet(text);
    }

</script>


{%endblock%} {% block content %}

<div class="row">
    <div class="col-8">
        <h3 class="text-center">The world's twitter trends map</h3>
        <div id="map"> </div>
    </div>
    <div class="col-4">
        <div id="tweet-box">

            <div id="tweet">
                <p>No country selected</p>
            </div>
            <div id="translate-button">
            </div>
            <div id="translated-text"></div>
        </div>
    </div>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key={{geo}}&language=en&callback=initMap&libraries=&v=weekly" async></script>

{%endblock%}