{% extends "base.html" %} {% block header %}
<script>
    function initMap() {
        var data = {
            lat: null,
            lng: null
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 47.54,
                lng: 19.19
            },
            zoom: 3,
            styles: [{
                featureType: 'poi',
                stylers: [{
                        visibility: 'off'
                    }] // Turn off POI.
            }, {
                featureType: 'transit.station',
                stylers: [{
                        visibility: 'off'
                    }] // Turn off bus, train stations etc.
            }],
            disableDoubleClickZoom: true,
            streetViewControl: false,
        });
        map.addListener('click', function(e) {
            data.lat = e.latLng.lat();
            data.lng = e.latLng.lng();

            var marker = new google.maps.Marker({
                position: data,
                map: map,
            });
        });
    }
</script>

{%endblock%} {% block content %}
<h3>Check out this trend map</h3>
<div id="map"> </div>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly" async></script>
<script src="https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&location_type=ROOFTOP&result_type=country&amp;key={{key}}">
</script>

{%endblock%}