{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>TweetMap</h1>
  <div class="app-desc">Popular tweets and translation</div>
  <div class="app-desc">Version: 1.0.0</div>
  <div class="app-desc">BasePath:/MiuMiuMiuMiuMiu/TweetMap/1.0.0</div>
  <div class="license-info">All rights reserved</div>
  <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
<h2>Access</h2>

<h2><a name="__Methods">Methods</a></h2>
[ Jump to <a href="#__Models">Models</a> ]

<h3>Table of Contents </h3>
<div class="method-summary"></div>
<h4><a href="#Default">Default</a></h4>
<ul>
<li><a href="#translatePost"><code><span class="http-method">post</span> /translate/</code></a></li>
<li><a href="#tweetPlaceGet"><code><span class="http-method">get</span> /tweet/{place}</code></a></li>
</ul>

<h1><a name="Default">Default</a></h1>
<div class="method"><a name="translatePost"></a>
  <div class="method-path">
  <a class="up" href="#__Methods">Up</a>
  <pre class="post"><code class="huge"><span class="http-method">post</span> /translate/</code></pre></div>
  <div class="method-summary">Translate text (<span class="nickname">translatePost</span>)</div>
  <div class="method-notes">Translate text to different languages</div>


  <h3 class="field-label">Consumes</h3>
  This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
  <ul>
    <li><code>application/json</code></li>
  </ul>

  <h3 class="field-label">Request body</h3>
  <div class="field-items">
    <div class="param">body <a href="#Translate">Translate</a> (optional)</div>
    
          <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash;  </div>
              </div>  <!-- field-items -->




  <h3 class="field-label">Return type</h3>
  <div class="return-type">
    <a href="#Translate">Translate</a>
    
  </div>

  <!--Todo: process Response Object and its headers, schema, examples -->

  <h3 class="field-label">Example data</h3>
  <div class="example-data-content-type">Content-Type: application/json</div>
  <pre class="example"><code>{
"text" : "I confess that last night I cried. That Victor Jara and Allende came back to my memory, that I remembered the times when the coup ..."
}</code></pre>

  <h3 class="field-label">Produces</h3>
  This API call produces the following media types according to the <span class="header">Accept</span> request header;
  the media type will be conveyed by the <span class="header">Content-Type</span> response header.
  <ul>
    <li><code>application/json</code></li>
  </ul>

  <h3 class="field-label">Responses</h3>
  <h4 class="field-label">200</h4>
  Text translated
      <a href="#Translate">Translate</a>
</div> <!-- method -->
<hr/>
<div class="method"><a name="tweetPlaceGet"></a>
  <div class="method-path">
  <a class="up" href="#__Methods">Up</a>
  <pre class="get"><code class="huge"><span class="http-method">get</span> /tweet/{place}</code></pre></div>
  <div class="method-summary">Retrives a tweet (<span class="nickname">tweetPlaceGet</span>)</div>
  <div class="method-notes">Retrives a tweet from a place</div>

  <h3 class="field-label">Path parameters</h3>
  <div class="field-items">
    <div class="param">place (required)</div>
    
          <div class="param-desc"><span class="param-type">Path Parameter</span> &mdash; Name of place </div>    </div>  <!-- field-items -->






  <h3 class="field-label">Return type</h3>
  <div class="return-type">
    <a href="#Place">Place</a>
    
  </div>

  <!--Todo: process Response Object and its headers, schema, examples -->

  <h3 class="field-label">Example data</h3>
  <div class="example-data-content-type">Content-Type: application/json</div>
  <pre class="example"><code>{
"topic" : "Chile",
"text" : "Confieso que anoche lloré. Que Víctor Jara y Allende volvieron a mi memoria, que recordé los tiempos cuando el golp…",
"url" : "https://t.co/0SsCFO5fAS",
"likes" : 23686
}</code></pre>

  <h3 class="field-label">Produces</h3>
  This API call produces the following media types according to the <span class="header">Accept</span> request header;
  the media type will be conveyed by the <span class="header">Content-Type</span> response header.
  <ul>
    <li><code>application/json</code></li>
  </ul>

  <h3 class="field-label">Responses</h3>
  <h4 class="field-label">200</h4>
  Tweet retrieved
      <a href="#Place">Place</a>
  <h4 class="field-label">500</h4>
  No trending tweets available at this location
      <a href="#"></a>
</div> <!-- method -->
<hr/>

<h2><a name="__Models">Models</a></h2>
[ Jump to <a href="#__Methods">Methods</a> ]

<h3>Table of Contents</h3>
<ol>
  <li><a href="#Place"><code>Place</code></a></li>
  <li><a href="#Translate"><code>Translate</code></a></li>
</ol>

<div class="model">
  <h3><a name="Place"><code>Place</code></a> <a class="up" href="#__Models">Up</a></h3>
  
  <div class="field-items">
    <div class="param">text </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
        <div class="param-desc"><span class="param-type">example: Confieso que anoche lloré. Que Víctor Jara y Allende volvieron a mi memoria, que recordé los tiempos cuando el golp…</span></div>
<div class="param">url (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
        <div class="param-desc"><span class="param-type">example: https://t.co/0SsCFO5fAS</span></div>
<div class="param">likes (optional)</div><div class="param-desc"><span class="param-type"><a href="#integer">Integer</a></span>  </div>
        <div class="param-desc"><span class="param-type">example: 23686</span></div>
<div class="param">topic (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
        <div class="param-desc"><span class="param-type">example: Chile</span></div>
  </div>  <!-- field-items -->
</div>
<div class="model">
  <h3><a name="Translate"><code>Translate</code></a> <a class="up" href="#__Models">Up</a></h3>
  
  <div class="field-items">
    <div class="param">text </div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
        <div class="param-desc"><span class="param-type">example: I confess that last night I cried. That Victor Jara and Allende came back to my memory, that I remembered the times when the coup ...</span></div>
  </div>  <!-- field-items -->
</div>
</div>
            {%endblock%}
